
.ico {
  font-family: icomoon2 !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-plus:before {
  content: ""
}

.icon-train:before {
  content: ""
}

.icon-bell:before {
  content: ""
}

.icon-clean:before {
  content: ""
}

.icon-left-arrow:before {
  content: ""
}

.icon-magazine:before {
  content: ""
}

.icon-right-arrow:before {
  content: ""
}

.icon-internet:before {
  content: ""
}

.icon-messages:before {
  content: ""
}

.icon-phone:before {
  content: ""
}

.icon-set-tarif:before {
  content: ""
}

.icon-simcard:before {
  content: ""
}

.icon-tarif:before {
  content: ""
}

.icon-websites:before {
  content: ""
}

.icon-wifi:before {
  content: ""
}

.icon-add-traffic:before {
  content: ""
}

.icon-call-empty:before {
  content: ""
}

.icon-call-filled:before {
  content: ""
}

.icon-chat:before {
  content: ""
}

.icon-day-sms:before {
  content: ""
}

.icon-exchange:before {
  content: ""
}

.icon-infinity:before {
  content: ""
}

.icon-check-mark:before {
  content: ""
}

.icon-clock:before {
  content: ""
}

.icon-close:before {
  content: ""
}

.icon-download:before {
  content: ""
}

.icon-edit:before {
  content: ""
}

.icon-enter:before {
  content: ""
}

.icon-filter:before {
  content: ""
}

.icon-home:before {
  content: ""
}

.icon-limited:before {
  content: ""
}

.icon-loader:before {
  content: ""
}

.icon-location:before {
  content: ""
}

.icon-lock:before {
  content: ""
}

.icon-print:before {
  content: ""
}

.icon-search:before {
  content: ""
}

.icon-secure:before {
  content: ""
}

.icon-settings:before {
  content: ""
}

.icon-add:before {
  content: ""
}

.icon-back:before {
  content: ""
}

.icon-delivery:before {
  content: ""
}

.icon-excluded:before {
  content: ""
}

.icon-fast-action-1:before {
  content: ""
}

.icon-fast-action-2:before {
  content: ""
}

.icon-help-1:before {
  content: ""
}

.icon-help-2:before {
  content: ""
}

.icon-help-3:before {
  content: ""
}

.icon-included:before {
  content: ""
}

.icon-movies:before {
  content: ""
}

.icon-music:before {
  content: ""
}

.icon-my-services:before {
  content: ""
}

.icon-my-tele2:before {
  content: ""
}

.icon-sheets:before {
  content: ""
}

.icon-social-network:before {
  content: ""
}

.icon-all-services:before {
  content: ""
}

.icon-attached-file:before {
  content: ""
}

.icon-calendar:before {
  content: ""
}

.icon-change:before {
  content: ""
}

.icon-cart-empty:before {
  content: ""
}

.icon-hamburger:before {
  content: ""
}

.icon-login:before {
  content: ""
}

.icon-logout:before {
  content: ""
}

.icon-user-drop:before {
  content: ""
}

.icon-alert-large:before {
  content: ""
}

.icon-success-large:before {
  content: ""
}

.icon-balance:before {
  content: ""
}

.icon-bank-card:before {
  content: ""
}

.icon-cart:before {
  content: ""
}

.icon-promised-payment:before {
  content: ""
}

.icon-rouble:before {
  content: ""
}

.icon-wallet:before {
  content: ""
}

.icon-autopayment:before {
  content: ""
}

.icon-chatbot-main:before {
  content: ""
}

.icon-chatbot-regular:before {
  content: ""
}

.icon-chatbot-sad:before {
  content: ""
}

.icon-chatbot-wink:before {
  content: ""
}

.icon-chatbot-annoyed:before {
  content: ""
}

.icon-penguin:before {
  content: ""
}

.icon-snake:before {
  content: ""
}

.icon-toucan:before {
  content: ""
}

.icon-user:before {
  content: ""
}

.icon-user-circle:before {
  content: ""
}

.icon-bear:before {
  content: ""
}

.icon-cat:before {
  content: ""
}

.icon-frog:before {
  content: ""
}

.icon-hamster:before {
  content: ""
}

.icon-chevron:before {
  content: ""
}

.icon-circle-arrow:before {
  content: ""
}

.icon-expander-arrow:before {
  content: ""
}

.icon-field-counter:before {
  content: ""
}

.icon-field-opener:before {
  content: ""
}

.icon-menu-switcher:before {
  content: "";
  color: #626469
}

.icon-side-arrow:before {
  content: ""
}

.icon-breadcrumbs-arrow:before {
  content: "";
  color: #8f9399
}

.icon-spinner {
  font-size: 1.6rem !important;
  width: 1em;
  height: 1em;
  border: .08em solid #626469;
  border-radius: 50%
}
